<!DOCTYPE html> 
<html lang="es"> 
<head> 
    <meta charset="utf-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    <title>@ViewData["Title"] — Sistema Mantenimientos </title> 
 
    <!-- Bootstrap 5.3 --> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
 
    <!-- Bootstrap Icons --> 
    <link rel="stylesheet" 
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" /> 
 
    <!-- Google Fonts --> 
    <link rel="preconnect" href="https://fonts.googleapis.com" /> 
    <link rel="stylesheet"

href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" /> 
 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
    @await RenderSectionAsync("Styles", required: false)
</head>
 
<body> 
 
    <!-- Contenido --> 
    <main class="main-content"> 
        @RenderBody() 
    </main> 
 
    <!-- Footer --> 
    <footer class="footer-bi py-3 mt-auto"> 
        <div class="container-fluid px-4">
            <div class="d-flex justify-content-between align-items-center"></div> 
        </div> 
    </footer> 
 
    <!-- Scripts --> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script> 
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script> 
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html> 